@font-face {
    font-family: 'Inter UI';
    font-weight: 400 800;
    font-display: swap;
    font-style: normal;
    src: url(https://static.linear.app/fonts/Inter-roman.var.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter UI';
    font-weight: 400 800;
    font-display: swap;
    font-style: italic;
    src: url(https://static.linear.app/fonts/Inter-italic.var.woff2) format('woff2');
}

::selection {
    color: hsl(217, 21%, 85%);
    background: #4f52b4;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000212;
    color-scheme: dark;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    --font-settings: 'cv01';
    font-feature-settings: var(--font-settings);
    --font-variations: 'opsz' auto;
    font-variation-settings: var(--font-variations);
}

html {
    font-size: 16px;
    -webkit-scroll-padding-top: calc(var(--header-height) + 36px);
    -moz-scroll-padding-top: calc(var(--header-height) + 36px);
    -ms-scroll-padding-top: calc(var(--header-height) + 36px);
    scroll-padding-top: calc(var(--header-height) + 36px);
}

body {
    color: #f7f8f8;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

html.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html,
button,
input,
optgroup,
select,
textarea {
    font-family: var(--font-regular);
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    color: #828fff;
    -webkit-transition: color var(--speed-regularTransition);
    transition: color var(--speed-regularTransition);
}

@media (any-hover: hover) {
    a:hover {
        color: #ffffff;
    }
}

@supports (height: 1dvh) {
    :root {
        --dvh: 1dvh;
    }
}

@-webkit-keyframes Rmehe {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, -10px px);
        -ms-transform: translate(0px, -10px px);
        transform: translate(0px, -10px px);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@keyframes Rmehe {
    from {
        opacity: 0;
        -webkit-transform: translate(0px, -10px px);
        -ms-transform: translate(0px, -10px px);
        transform: translate(0px, -10px px);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
